<div class="container" ng-show="signedIn()" id="psych">
	<div class="row">
		<h3>What is Diversity?</h3>
		<hr>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>Diversity is a way for you to find out who you truly are. It is for exploring your internal cognitive abilities to find out your strengths and where you are weak so that you can practice on those skills. Diversity is comprehensive and seeks out the best in you. It comprises of a series of cognitive tasks and inputs, which is automatically analyzed and your results are shown and compared across populations. Diversity takes much of its resources from the mental status examination (MSE) used by clinicians to assess mental status, but utilizes tests that assess for more in-depth understanding of who you are rather than screen for psychiatric disorders.</p>
		</div>
		<div class="col-md-6">
			<img ng-src="/images/diagram1.png" />
		</div>
	</div>
		<div class="row">
			<p>Diversity focuses on the domain of cognition: alertness, orientation, attention, memory, visuospatial functioning, language and executive function.</p>
		</div>
		<center><a href="/stroop" class="btn btn-primary">Take an example stroop test</a></center>
	</div>
</div>