<div class="container" ng-show="signedIn()" id="psych">
	<p>Diversity is a way for you to find out who you truly are. It is for exploring your internal cognitive abilities to find out your strengths and where you are weak so that you can practice on those skills. Diversity is comprehensive and seeks out the best in you. It comprises of a series of cognitive tasks and inputs, which is automatically analyzed and your results are shown and compared across populations. Diversity takes much of its resources from the mental status examination (MSE) used by clinicians to assess mental status, but utilizes tests that assess for more in-depth understanding of who you are rather than screen for psychiatric disorders.</p>
	<img ng-src="/images/diagram1.png" />
	<p>The MSE, used by psychiatrists and neurologists to assess mental status, is comprised of the following domains:</p>
	<ul>
		<li>Appearance: Age, height, weight, manner of dress and grooming</li>
		<li>Attitude: Approach to interview process</li>
		<li>Behavior: Level of activity and arousal, movements, mannerisms, etc.</li>
		<li>Mood and affect: Emotional state and nonverbal behavior</li>
		<li>Speech: Language function</li>
		<li>Thought process: Quantity, tempo, and form of thought</li>
		<li>Perception: Hallucinations, pseudohallucations and illusions</li>
		<li><b>Cognition: Alertness, orientation, attention, memory, visuospatial functioning, language and executive function. Diversity focuses on this domain.</b></li>
		<li>Insight: Understanding of the problem</li>
		<li>Judgment: Capacity to make sound, reasonable, and responsible decisions</li>
	</ul>
	<p>The purpose of Diversity is not to train your brain (for brain training, visit <a href="http://www.lumosity.com/" target="_blank">Lumosity</a>) but to better understand who you are.</p>
	<p>Example experiment: <a href="/stroop">Stroop test</a></p>
</div>