<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
			<span class="sr-only">Toggle navigation</span>
		</button>
		<a class="navbar-brand" href="#">Legends</a>
	</div>
	<ul class="nav navbar-nav">           
		<li><a href="/resistance">Resistance</a></li>
		<li><a href="/diversity">Diversity</a></li>
	</ul>  
	<ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
		<li><p class="navbar-text" ng-show="signedIn()">Signed in as <u>{{ currentUser.username }}</u></p></li>
		<li><a href="/login" ng-hide="signedIn()">Login</a></li>
		<li><a href="/register" ng-hide="signedIn()">Register</a></li>
		<li><a href="#" ng-show="signedIn()" ng-click="logout()">Logout</a></li>
	</ul>
</nav>