<div class="container">
	<div ng-show="signedIn()">
		Username: {{ currentUser.username || "empty" }}<br>
		Height (inches): <span editable-number="currentUser.height" style="margin-left: 5px;" onshow="initUser()" onaftersave="updateUser()">{{ currentUser.height || "enter height in inches" }}</span><br>
		Weight (lbs): <span editable-number="currentUser.weight" style="margin-left: 5px;" onshow="initUser()" onaftersave="updateUser()">{{ currentUser.weight || "enter weight in lbs" }}</span><br>
		BMI: {{ currentUser.bmi || "enter height+weight to calculate" }}<br>
		According to your input, your BMI is {{ currentUser.bmiLevel || "empty" }}.
	</div>
	<div ng-show="isSelected(2) && signedIn()">
		Let's set up a routine.
	</div>
</div>