<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" href="#">Plume</a>
		</div>
		<ul class="nav navbar-nav">           
			<li ng-class="{ active: isSelected(1) }"><a href="#" ng-click="selectTab(1)">Profile</a></li>
			<li ng-class="{ active: isSelected(2) }"><a href="#" ng-click="selectTab(2)">#</a></li>
			<li ng-class="{ active: isSelected(3) }"><a href="#" ng-click="selectTab(3)">#</a></li>
			<li ng-class="{ active: isSelected(4) }"><a href="#" ng-click="selectTab(4)">#</a></li>
			<li ng-class="{ active: isSelected(5) }"><a href="#" ng-click="selectTab(5)">#</a></li>
		</ul>  
		<ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
			<li><p class="navbar-text" ng-show="signedIn()">Signed in as <u>{{ currentUser.username }}</u></p></li>
			<li><a href="#/login" ng-hide="signedIn()">Login</a></li>
			<li><a href="#/register" ng-hide="signedIn()">Register</a></li>
			<li><a href="#" ng-click="logout()" ng-show="signedIn()">Logout</a></li>
		</ul>
	</nav>
	<div ng-show="isSelected(1) && signedIn()">
		Username: {{ currentUser.username || "empty" }}<br>
		Height (inches): <span editable-number="currentUser.height" style="margin-left: 5px;" onshow="initUser()" onaftersave="updateUser()">{{ currentUser.height || "enter height in inches" }}</span><br>
		Weight (lbs): <span editable-number="currentUser.weight" style="margin-left: 5px;" onshow="initUser()" onaftersave="updateUser()">{{ currentUser.weight || "enter weight in lbs" }}</span><br>
		BMI: {{ currentUser.bmi || "enter height+weight to calculate" }}
	</div>
	<div ng-hide="signedIn()">Please login. You can use test credentials: 
		<blockquote>email: test@test.com, password: test</blockquote></div>
</div>