<div class="container bs-docs-container">
	<div class="row">
		<h1>Stroop Test</h1>
		<hr/>
		<p>In this experiment, we are interested in the effect of reward on conflict resolution. You will be presented with a word (either 'BLUE' or 'PINK') in either blue or pink text color. Your task to indicate the 
				<b>color of the text</b> ('z' key of the text is blue, 'x' key if the text is pink), not the color indicated by the text. </p>

				<center style="margin-top:20px;margin-bottom:20px;">
					<img ng-src="/images/i3.png" height="150"/>
					<img ng-src="/images/i4.png" height="150"/>
				</center>

				<p>You will also get points depending on whether the trial is high reward (star) or low reward (circle). The reward is cued before each trial. The experiment will last about 1 minute.</p>
							Your current data: {{ currentUser.data }}

							<center>
								<a style="font-family:arial;color:white;font-size:20px;" class="btn btn-lg btn-primary" href="/stroop/experiment">Click to begin.
								</a>
							</center>
						</div>
					</div>
				</div>